<div id="login_form_div">
<h1>Login to Twitter with OAuth</h1>
<%= error_messages_for :session %>
<% form_tag '/start_oauth' do -%>

<%= submit_tag 'Login' %>
<div id="twitter_login_info">
<p>
We're going to send you over to Twitter, where you can enter your password there.  Once they confirm your login, they'll send you back to Tagalus.  Using OAuth means you don't have to give your password to third-party sites!</p><br/>
<p>
<!--
This is still a Beta feature, so please let us know (tagalus AT gmail) if something goes awry.  In the event that there is an error logging in, please try logging in with an <a href="/login">OpenID</a> or with the <a href="/twitter_login">old Twitter login system</a>.
-->
</p>

</div>

<% end -%>
</div>