<div id="about_page">
<h1>Tagalus</h1>

<p>
Ever find yourself looking at Twitter and wondering what all this talk about #motrinmoms means?  Searching Flickr and not understanding why someone would tag their photo #ip4?
</p>

<p>
<a href="http://tagal.us/">Tagalus</a> lets users define tags so that others can understand what they're talking about.  Other users can vote on definitions and decide which best describes the given tag.
</p>

<p>
You don't need to log in to browse the tags and definitions, but if you would like to contribute a tag, vote on a definition's authority, comment, etc. you have to use an <a href="http://openid.net/">OpenID</a> to log in.	
</p>

<a name="twitter"></a><h2>Twitter</h2>
<p>
Tagalus (<a href="http://twitter.com/tagalus">@tagalus</a>) lets you use <a href="http://twitter.com">Twitter</a> to get and set definitions.  There are currently 
two commands that @tagalus understands:
</p>
<ul>
	<li><strong>Define</strong>: You can ask Tagalus to define a term for you.  Example:
		<blockquote>
			@tagalus_user: @tagalus define ip4<br/>
			@tagalus: @tagalus_user ip4 = Ignite Portland 4 - a "hipster event" according to KGW
		</blockquote>
		</li>
	<li><strong>Define ____ as</strong>: You can also set definitions using Twitter. Example:
		<blockquote>
			@tagalus_user: @tagalus define mynewtag as a new tag that describes everything about me<br/>
			@tagalus: @tagalus_user http://tagal.us/tag/mynewtag
		</blockquote>
		</li>
</ul>
<p>
You can also use a shorthand 'def' instead of typing out 'define' when talking to @tagalus
</p>

<a name="bookmarklet"></a><h2>Tagalus Bookmarklet</h2>
<p>
In the footer of every Tagalus page (scroll all the way down), there's a link that says "bookmarklet"
</p>
<p>
By dragging this link into your browser's toolbar, you can get Tagalus functionality from other web pages.  Here's how it works:
<ul>
	<li>While viewing a web page, use your cursor to select the word that you would like Tagalus to define</li>
	<li>Click on the Tagalus bookmarklet - you will be redirected to a page that defines the word you had selected, assuming someone has defined it already on Tagalus.</li>
</ul>	
</p>


</div>